<p class="jumbotron"><%= @profile.username %></p>

<div class = "jumbotron">

  <p>
    <b>First Name:</b>
    <%= @profile.first_name %>
  </p>

  <p>
    <b>Last Name:</b>
    <%= @profile.last_name %>
  </p>

  <p>
    <b>Email:</b>
    <%= @profile.email  %>
  </p>

  <p>
    <b>Country:</b>
    <%= @profile.country %>
  </p>

  <p>
    <b>Time zone:</b>
    <%= @profile.time_zone %>
  </p>

  <p>
    <b>Native Language:</b>
    <%= LanguageList::LanguageInfo.find(@profile.native_language) %>
  </p>

  <p>
    <b>Blog URL:</b>
    <%= @profile.blog_url %>
  </p>

  <p>
    <b>Description:</b>
    <%= @profile.description %>
  </p>

  <% if current_user.is_teacher? %>
    <p>
      <b>Address:</b>
      <%= @profile.description %>
    </p>
    <p>
      <b>Date of Birth:</b>
      <%= @profile.date_of_birth %>
    </p>
    <p>
      <b>Security question 1:</b>
      <%= @profile.sec_q_1 %>
    </p>
    <p>
      <b>Security question 1 answer:</b>
      <%= @profile.sec_a_1 %>
    </p>
    <p>
      <b>Security question 2:</b>
      <%= @profile.sec_q_2 %>
    </p>
    <p>
      <b>Security question 2 answer:</b>
      <%= @profile.sec_a_2 %>
    </p>
    <p>
      <b>Security question 3:</b>
      <%= @profile.sec_q_3 %>
    </p>
    <p>
      <b>Security question 3 answer:</b>
      <%= @profile.sec_a_3 %>
    </p>
  <% end %>

  <% if @profile.avatar.present? %>
    <p>
      <%= image_tag @profile.avatar.url(:medium) %>
    </p>
  <% end %>

</div>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', root_path %>