<div class="jumbotron">
<%= form_for(@entry, :url => @entry.new_record? ? journal_entries_path(@journal.id) : journal_entry_path(@journal, @entry), :method => @entry.new_record? ? :post : :put) do |f| %>
  <%= render 'shared/error_messages', obj: @entry %>

  <%= f.label :title %>
  <%= f.text_field :title, class: "span4", :required => true %>

  <%= f.label :language %>
  <%= f.select :language, options_from_collection_for_select(LanguageList::COMMON_LANGUAGES, "iso_639_1", "name"), {}, {class: "span4"} %>

  <%= f.label :entry %>
  <%= f.text_area :entry, :cols => "1", :rows => "8", class: "span4", :required => true %>

  <br/>
  <%= f.submit "Save", class: "btn btn-large btn-primary" %>
<% end %>
</div>