<%= form_for @user do |f| %>
  <%= render 'shared/error_messages', obj: @user %>
  <div class='control-group'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class='control-group'>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class='control-group'>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class='control-group'>
    <%= f.check_box :teacher %>&nbsp; <span>I am a Teacher.</span>
  </div>

  <%= f.submit @user.new_record? ? "Register" : "Update Profile", class: "btn btn-large btn-primary" %>
  <% end %>
