<%= form_for(@private_forum) do |f| %>
  <% if @private_forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@private_forum.errors.count, "error") %> prohibited this private_forum from being saved:</h2>

      <ul>
      <% @private_forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :tution_session_id %><br>
    <%= f.number_field :tution_session_id %>
  </div>
  <div class="field">
    <%= f.label :accept %><br>
    <%= f.check_box :accept %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
